<template>
    <v-card max-width="380" class="mx-auto my-12">
        <v-img width="400" height="250" 
        :src=profile.image />
        <v-card-title>{{ profile.fullname }}</v-card-title>
        <v-card-text>
            <v-row
                align="center"
                class="mx-0">

            <v-rating
               :value=profile.rating
               color="indigo"
               size="14"
               dense
               half-increments
            />

            <div class="grey--text ml-4"> {{ profile.rating }} </div>

            </v-row>

            <div class="my-4 subtitle-1 black--text">
                {{ profile.specialty }}
            </div>

            <div> {{ profile.address }}</div>

        </v-card-text>
        <v-divider></v-divider>

        <v-card-title>Today's availability</v-card-title>

        <v-card-text>
            <v-chip-group
            active-class="light-blue accent-4 white--text"            
            >
                <v-chip v-for="(value, id) in profile.availability" :key="id" >
                    {{ value.time }}    
                </v-chip>

            </v-chip-group>
        </v-card-text>
        <v-card-actions>
            <v-btn color="indigo accent-4" text @click="bookNow">
                BOOK APPOINTMENT
            </v-btn>
        </v-card-actions>

    </v-card>
</template>

<script>
export default {
    name: 'Profile',
    data: () => ({
        profile: {
            image: "https://pragmaticimages.s3.amazonaws.com/dr_lisa_simpson.jpg",
            fullname: "Dr Lisa Simpson",
            rating: 4.5,
            specialty: "Dermatology",
            address: "1111 New Cantenbury Road, SF 4444",
            availability: [
                { 
                    "id": 1,
                    "time": "7:30AM"
                },
                { 
                    "id": 2,
                    "time": "8:30AM"
                },
                { 
                    "id": 3,
                    "time": "9:00AM"
                },
                { 
                    "id": 10,
                    "time": "10:00AM"
                }

            ]            

        }
    })
}
</script>