<template>
  <v-app>
    <v-app-bar
      app
      color="primary"
      dark
    >
    </v-app-bar>

    <v-content>
      <Profile/>
    </v-content>
  </v-app>
</template>

<script>
import Profile from './components/Profile';

export default {
  name: 'App',

  components: {
    Profile
  },

  data: () => ({
    //
  }),
};
</script>
